<div class="main-container">
  <div id="list">

    <h4>Categorias</h4>
    <h5> <%= link_to muebles_path(category: "living") do %>Living<% end %></h5>
    <h5> <%= link_to muebles_path(category: "cocina") do %>Cocina<% end %></h5>
    <h5> <%= link_to muebles_path(category: "habitacion") do %>Dormitorio<% end %></h5>
    <div style="display:none;" id="myCatDiv">
      <h5> <%= link_to muebles_path(category: "banos") do %>Ba침os<% end %></h5>
      <h5> <%= link_to muebles_path(category: "galeria") do %>Galeria<% end %></h5>
    </div>
    <button id="myCatButton" onClick="myCatFunction(); toggleCatText(this.id);">+ Mas</button>

    <script>
      function myCatFunction() {
        var x = document.getElementById("myCatDiv");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
      function toggleCatText(button_id)  {
       if (document.getElementById(button_id).innerText == "+ Mas")
       {
         document.getElementById(button_id).innerText = "- Menos";
       }
       else
       {
         document.getElementById(button_id).innerText = "+ Mas";
       }
     }
   </script>

   <h4> <button id="myPriceButton" onClick="myPriceFunction(); togglePrice(this.id);">Precio -</button> </h4>
   <div  id="myPrice">
    <h5> <%= link_to muebles_path(min_price_cents: 1, max_price_cents: 300001) do %>
      <i class="fas fa-minus"></i> 3.000 $<% end %> </h5>
      <h5><%= link_to "3.000 - 6.000 $", muebles_path(min_price_cents: 300001, max_price_cents: 600000) %> </h5>
      <h5><%= link_to "6.000 - 10.000 $", muebles_path(min_price_cents: 600001, max_price_cents: 1000000) %></h5>
      <h5> <%= link_to muebles_path(min_price_cents: 1000001, max_price_cents: 10000000) do %>
        <i class="fas fa-plus"></i> 10.000 $<% end %> </h5>
      </div>

      <script>
        function myPriceFunction() {
          var x = document.getElementById("myPrice");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
        function togglePrice(myPriceButton)  {
         if (document.getElementById(myPriceButton).innerText == "Precio -")
         {
           document.getElementById(myPriceButton).innerText = "Precio +";
         }
         else
         {
           document.getElementById(myPriceButton).innerText = "Precio -";
         }
       }
     </script>

     <h4> <button id="myOrderButton" onClick="myOrderFunction(); toggleOrder(this.id);">Ordenar -</button> </h4>
     <div  id="myOrder">
       <h5><%= link_to muebles_path(created_at: :desc) do %>Lo m치s reciente<% end %></h5>
       <h5>  <%= link_to muebles_path(price_cents: :desc) do %>M치s alto - m치s bajo<% end %></h5>
     </div>
     <script>
      function myOrderFunction() {
        var x = document.getElementById("myOrder");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
      function toggleOrder(myOrderButton)  {
       if (document.getElementById(myOrderButton).innerText == "Ordenar -")
       {
         document.getElementById(myOrderButton).innerText = "Ordenar +";
       }
       else
       {
         document.getElementById(myOrderButton).innerText = "Ordenar -";
       }
     }
   </script>

 </div>
 <div class="index-wrapper">
  <h1>muebles</h1>
    <div class="row">
      <div class="a card-container">
        <% @muebles.each do |mueble| %>
        <%= render "shared/card", mueble: mueble%>
        <% end %>
      </div>
    </div>
  </div>
</div>

