
<div class="wrapper">

      <div class="show-body">
        <div class="show-item-photo" style="background-image: url('<%= image_path @mueble.photo%>'); width: 100%;">
        </div>
        <div class="show-info-window">
          <h1 class="show-title"><%= @mueble.name.upcase %></h1>
          <p>Mesa cuadrada ideal para 4 personas, ideal para espacios pequeños</p>
          <p>Total: <%= humanized_money_with_symbol(@mueble.price) %></p>
          <div class="pay-button">
            <%= form_tag orders_path do %>
            <%= hidden_field_tag 'mueble_id', @mueble.id %>
            <%= submit_tag 'Comprar', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>

  </div>
</div>
